# Order is important; the last matching pattern takes the most
# precedence.

# The main branch in this repo is protected and requires reviews
# from code owners. This means that any pull request
# which affects code with a code owner must be approved
# by that code owner before the pull request can be merged
# into the protected branch.

# Pull requests which modify any of the following 
# file types must be approved by one of the listed owner(s):

*.py    @GoogleCloudPlatform/pso-code-review-committee